input {
    border: 1px solid #ccc;
    padding: 6px 8px;
    font-size:25px;
    overflow:hidden;
    display:table;
    margin:10px auto;
    border-radius:5px;
    background:transparent;
    box-shadow: 1px 1px #fefefe, inset 1px 1px #fefefe;
    color:#aaa;
    text-shadow:1px 1px #fefefe;
  }
  
  input:focus {
   outline:0;
    border-color:#bbb
  }
  
  [placeholder]:focus::-webkit-input-placeholder {
      text-indent: -130px;
      // -webkit-transition: steps(10) 1.5s .1s;
  }

#title{
display: flex;
justify-content: center;
}

.product-list{
display: flex;
flex-wrap: wrap;
justify-content: center;
}