<div class="demo-container p-mx-4 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid">
            <!-- Imagen decorativa de recovery  -->
            <div class="p-col-12 p-lg-4 " style="padding-left: 100px; padding-top: 60px !important">
                <img src="../../../assets/img/logo_ecopick.png" width="70%" height="70%" alt="" >
            </div>
            
            <!-- Password and Confirm Pass -->
            <div class="p-col-12 p-lg-7">
                <div class="p-grid p-jc-center">
                    <h1 style="color: #3283fcff; margin-bottom: 0 !important;">Recupera tu contraseña</h1>
                </div>
                
                <form novalidate [formGroup]="changeForm" #cform="ngForm" (ngSubmit)="onSubmit()">
                    <br>
                    <div class="p-grid p-jc-center p-mt-4">  
                        <div class="p-col-12 p-lg-6 p-mb-1">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                    <input id="clave" formControlName="clave" type="password" pPassword  placeholder="Contraseña *">         
                                </div>
                            <span class="error-msg" *ngIf="formErrors.clave"><small>{{formErrors.clave}}</small></span>
                        </div>
                    </div>
                    <div class="p-grid p-jc-center p-mt-1">
                        <div class="p-col-12 p-lg-6 p-mb-1">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                <input id="confirmar_clave" formControlName="confirmar_clave" type="password" pInputText placeholder="Confirmar contraseña *">         
                            </div>
                        <span class="error-msg" *ngIf="formErrors.confirmar_clave"><small>{{formErrors.confirmar_clave}}</small></span>
                        </div>
                    </div>
            
                    <div class="p-grid p-jc-center p-mt-1">
                        <div class="p-grid p-formgrid p-fluid">
                            <div class="p-mb-2 p-col-12 p-mb-lg-0">
                                <button pButton type="submit" class="p-button-lg" label="Continuar" style="background-color: #3283fcff !important"></button>
                            </div>
                        </div>
                    </div>
                    <div class="p-text-center p-mt-4"><a routerLink="/login">Login</a></div>
                    <p-toast></p-toast>
                </form>
            </div>
        </div>
    </p-card>
</div>