<div class="demo-container p-mx-4 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid">
            <!-- Imagen decorativa -->
        
            <!-- Formulario de registro -->
            <div class="p-grid">

                <div class="p-col-12">
               
                        <router-outlet>
                            
                        </router-outlet>
                       
                </div>

                <!-- <div class="p-grid p-jc-center p-d-lg-none">
                    <img src="../../../assets/img/Logo.png" width="150px" height="150px" alt="">
                </div> -->
                <!-- <p-steps [model]="items" class="p-d-none p-d-lg-block"></p-steps> -->
                
            </div>
            
         
        </div>
    </p-card>
</div>

