<app-navigation></app-navigation>
<div class="demo-container p-p-0 p-p-sm-4 p-p-md-6 p-p-lg-4">
    <div id="title">
        <h2 class="center">Explorar Produtos</h2>
    </div>
    <!-- <input type="text" placeholder="Buscar" class="search"> -->
    <div class="product-list">
        <li *ngFor="let p of products" >
            <app-product-card [productName]="p.producto" [productQuantity]="p.cantidad" [productDesc]="p.descripcion" [listType]=0 [_id]="p._id"></app-product-card>
        </li>
    </div>
</div>