<app-navigation></app-navigation>
<div class="demo-container p-mx-4 p-p-0 p-p-sm-1 p-p-md-2 p-p-lg-6">
    <p-card>
        <div class="p-grid">
            <div class="p-col-12">
                <div class="demo-container p-p-0 p-p-sm-4 p-p-md-6 p-p-lg-8">
                    
                        <div class="p-grid p-mb-4 p-jc-center">
                            <h1 style=" margin-bottom: 0 !important;">¿Desea eliminar este producto?</h1> 
                        </div>

                        <div class="p-grid p-jc-center p-mt-1 p-col-12">
                            <div class="p-grid p-formgrid p-fluid ">
                                <div class=" p-mb-2 p-mb-lg-0">
                                    <button pButton pRipple type="submit" class="p-button-lg" (click)="delete()" label="Eliminar" style="background-color: red !important"></button>
                                    <button pButton pRipple type="submit" class="p-button-lg" (click)="nextPage()" label="Cancelar" style="background-color: grey !important"></button>
                                </div>
                            </div>
                        </div>
                
                </div>
            </div>

        </div>
                    	
    </p-card>
</div>

